EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_FREE_PLAN_URL=
EXPO_PUBLIC_PRO_CHECKOUT_URL=
EXPO_PUBLIC_PLATINUM_CHECKOUT_URL=
SUPABASE_SERVICE_ROLE_KEY=
